.main {
    position: relative;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 1000px;
}

.container {
    text-align: center;
    position: relative;
    z-index: 1; /* container 위에 배치 */
    overflow: hidden;
    width: 45%;
    margin: 0 auto;
    height: 60vh;
}

.container img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.personalImg {
    background-image: url(../img/img4.jpeg);
    position: absolute;
    top: -10%; /* container 위에 겹치도록 위치 조정 */
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    width: 10%;
}

.name {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.vlog {
    color: white;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.card {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 40rem;
    height: 250px;
    background-color: white;
}

.card-body {
    z-index: 5;
}
